* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Arimo", sans-serif;
}

.capitalize, header nav > ul, main .hero-image {
  text-transform: uppercase;
}

.color-primary, main .about-section a, main .contact .input-container > label {
  color: #2483d1;
}

.highlight {
  background-color: #ffff00;
}

.mt-2 {
  margin-top: 2rem;
}

.nav-scroll {
  background-color: #2c2e2d;
  -webkit-box-shadow: -2px 9px 15px 0px #000000;
          box-shadow: -2px 9px 15px 0px #000000;
  border-radius: 0 0 10px 10px;
}

.nav-phone {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  z-index: 1;
  -webkit-transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 1rem 1.5rem;
}

header picture img {
  width: 100%;
  height: 7rem;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

header .hamburger {
  width: 2.2rem;
  height: 2.2rem;
  display: block;
}

header .hamburger .line:first-of-type {
  margin-bottom: 0.6rem;
}

header .hamburger .line:last-of-type {
  margin-top: 0.6rem;
}

header .line {
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #000;
}

header .background-white {
  background-color: #fff;
}

header .nav-toggle {
  display: none;
}

header .nav-toggle:checked + ul {
  right: 0;
}

header nav > ul {
  position: fixed;
  top: 0;
  right: -25rem;
  overflow: hidden;
  width: 25rem;
  height: 100vh;
  background-color: #2c2e2d;
  list-style: none;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #fff;
  z-index: 2;
}

header nav > ul ul {
  list-style: none;
}

header nav > ul .nav-close {
  margin-left: auto;
}

header nav > ul .nav-close .left-auto {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

header nav > ul .nav-close img {
  height: 2.5rem;
}

header nav > ul li {
  padding: 1.1rem 2rem;
  border-bottom: 1px solid #ffffff08;
  width: 100%;
}

header nav > ul .expandable {
  position: relative;
}

header nav > ul .expandable input {
  display: none;
}

header nav > ul .expandable label {
  display: block;
}

header nav > ul .expandable label img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

header nav > ul .expandable input:checked ~ ul {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 250px;
}

header nav > ul .expandable input:checked + label img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header nav > ul .expandable > ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  font-size: 1.3rem;
}

header nav > ul .expandable > ul li {
  border: none;
}

header nav > ul .expand {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

header nav > ul .expand img {
  width: 2rem;
  height: 2rem;
}

main {
  margin-top: 10rem;
}

main .hero-image {
  width: 100%;
  height: 26rem;
  position: relative;
  color: #fff;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero-image video {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .hero-image .title {
  width: 25rem;
  height: 7rem;
  margin: auto;
  background-color: #00000080;
  text-align: center;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

main .hero-image h1 {
  font-size: 1.4rem;
}

main .hero-image small {
  font-size: 0.9rem;
}

main .hero-image .contact-us {
  text-align: center;
  margin: 1.5rem auto 0 auto;
  background-color: #2483d1;
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: #2c2e2d 1px solid;
  -webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

main .hero-image .contact-us a {
  color: #fff;
  text-decoration: none;
}

main .hero-image .contact-us:hover,
main .hero-image .contact-us:focus-within {
  border-color: #2483d1;
  color: #2483d1;
  background-color: #2c2e2d;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

main .gallery {
  margin: 2rem auto 0 auto;
  width: 80%;
  text-align: center;
}

main .gallery .card {
  margin-top: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out, top 0.5s ease-in-out;
  transition: opacity 1s ease-in-out, top 0.5s ease-in-out;
  position: relative;
  top: 5rem;
  left: 0;
}

main .gallery .show-card {
  opacity: 1;
  top: 0;
}

main .gallery h2 {
  color: #2483d1;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 3.5rem;
}

main .gallery img {
  width: 100%;
  height: 25rem;
  display: block;
  /*Removes white-space at bottom of image allowing sibling div to sit up against it*/
}

main .gallery .card-title {
  background-color: #2483d1;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  margin: 0;
  padding: 1rem;
}

main .gallery .card:hover .card-title {
  background-color: #2c2e2d;
  color: #2483d1;
}

main .gallery a {
  text-decoration: none;
  color: #fff;
}

main .gallery h3 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
}

main .about-section {
  width: 85%;
  margin: 6rem auto 0 auto;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #2c2e2d;
  margin-bottom: 5rem;
}

main .about-section h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-decoration: underline;
}

main .about-section a {
  text-decoration: none;
}

main .partners {
  display: none;
}

main .contact {
  width: 90%;
  margin: 0 auto 5rem auto;
  text-align: center;
  border-bottom: 2px solid #2c2e2d;
  padding-bottom: 3.5rem;
}

main .contact h3 {
  margin-bottom: 2rem;
}

main .contact .input-container,
main .contact textarea {
  width: 80%;
}

main .contact .input-container {
  position: relative;
  margin: auto;
}

main .contact .input-container > input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #2483d1;
  outline: none;
  font-size: 1.8rem;
  color: #2c2e2d;
}

main .contact .input-container > label {
  position: absolute;
  top: 12px;
  left: 3px;
  font-size: 1.8rem;
  -webkit-transition: top 0.5s ease-in-out, font-size 0.5s ease-in-out;
  transition: top 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

main .contact .input-container:focus-within label,
main .contact .input-container > input:valid + label {
  top: -10px;
  font-size: 1.4rem;
}

main .contact input,
main .contact textarea {
  margin-bottom: 2rem;
}

main .contact textarea {
  padding: 0.5rem;
  font-size: 1.8rem;
  border: 2px solid #2483d1;
  width: 100%;
  border-radius: 5px;
  margin-top: 2rem;
}

main .contact .tos-container {
  width: 80%;
  margin: auto;
}

main .contact .tos input {
  float: left;
  margin: 0;
}

main .contact button {
  margin-top: 2rem;
  width: 50%;
  background-color: #2483d1;
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

main .contact button:hover,
main .contact button:focus {
  background-color: #2c2e2d;
  color: #2483d1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main .location {
  width: 90%;
  margin: 0 auto 5rem auto;
}

main .location iframe {
  width: 100%;
  height: 50rem;
}

footer {
  background-color: #2483d1;
  padding: 2rem 0;
  color: #fff;
}

footer a {
  color: #fff;
}

footer h2 {
  text-align: center;
  margin-bottom: 2rem;
}

footer h4 {
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

footer .careers,
footer .contact-details {
  padding: 2rem;
}

footer .contact-details {
  border-bottom: 2px solid #2c2e2d;
  padding-top: 0;
}

footer .smallprint {
  padding: 2rem 2rem 0 2rem;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .nav-phone {
    display: block;
    width: 100%;
    background-color: #2483d1;
    padding: 1rem 1.5rem;
  }
  .nav-phone i {
    margin-right: 0.7rem;
  }
  .nav-phone a {
    color: #fff;
  }
  .flex-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: auto;
  }
  main {
    margin-top: 16rem;
  }
  main .hero-image {
    height: 55vh;
  }
  main .hero-image .hero-container {
    width: 65%;
  }
  main .hero-image .title {
    width: 100%;
    max-width: 81rem;
    height: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .hero-image h1 {
    font-size: 2.5rem;
  }
  main .hero-image small {
    font-size: 1.2rem;
  }
  main .hero-image .contact-us {
    max-width: 31rem;
  }
  main .gallery {
    width: 100%;
    padding: 2rem;
  }
  main .gallery .card {
    margin-right: 1rem;
  }
  main .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .card-container .card {
    min-height: 25rem;
    max-width: 25rem;
  }
  main .card-container .card img {
    height: 12rem;
  }
  main .card-container .card .card-title {
    min-height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .about-section {
    margin-top: 1rem;
  }
  main .contact {
    border: none;
  }
  main .contact input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }
  main .location iframe {
    height: 60rem;
  }
  footer .contact-details {
    border: none;
  }
  footer .contact-details h4,
  footer .careers h4 {
    font-size: 2.4rem;
  }
  footer .contact-details,
  footer .careers {
    text-align: center;
    width: 50%;
  }
  footer .careers {
    border-right: 2px solid #2c2e2d;
  }
}

@media screen and (min-width: 960px) {
  main .gallery {
    width: 90%;
    max-width: 125rem;
    padding-bottom: 2rem;
  }
  main .gallery .card {
    width: 33.3%;
    max-width: 35rem;
  }
  main .gallery .card img {
    height: 20rem;
  }
  main .about-section {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  main .about-section h2 {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  main .about-section p {
    max-width: 150rem;
    margin: 0 auto 2rem auto;
  }
  main .partners {
    display: block;
    margin: 0 auto 5rem auto;
    padding-bottom: 3rem;
    border-bottom: 1px solid #2c2e2d;
    width: 85%;
  }
  main .partners img {
    width: 17rem;
    height: auto;
    margin-right: 2rem;
  }
  main .partners h3 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  main .partners .accreditors {
    text-align: center;
    margin-bottom: 4rem;
  }
  main .partners .accreditors img:nth-of-type(4) {
    margin-right: 4rem;
  }
  main .partners .companies {
    text-align: center;
    margin: auto;
    max-width: 80rem;
  }
}

@media screen and (min-width: 1240px) {
  header img.img-scroll {
    width: 23.5rem;
    height: 5rem;
  }
  header .nav-container {
    display: block;
  }
  header picture img {
    width: 30%;
    max-width: 55rem;
    height: auto;
  }
  header label {
    display: none;
  }
  header nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header nav > ul {
    position: relative;
    top: 0;
    left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: transparent;
    color: #2483d1;
  }
  header nav > ul li {
    text-align: center;
    border: none;
    position: relative;
  }
  header nav > ul li:first-of-type {
    display: none;
  }
  header nav > ul li:after {
    content: "";
    border: 0px solid #2483d1;
    width: 0;
    position: absolute;
    left: 75px;
    bottom: 25%;
    -webkit-transition: width 0.5s ease-in-out, border 0.5s ease-in;
    transition: width 0.5s ease-in-out, border 0.5s ease-in;
  }
  header nav > ul li:hover:after {
    width: 125px;
    border: 1px solid #2483d1;
  }
  header nav > ul .expand {
    display: none;
  }
  main {
    margin-top: 23rem;
  }
  main .hero-image {
    height: 65vh;
  }
}

@media screen and (min-width: 2000px) {
  main .hero-image .title {
    height: 25rem;
  }
  main .hero-image h1 {
    max-width: 60rem;
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
  main .hero-image small {
    font-size: 2rem;
  }
  main .hero-image .contact-us {
    max-width: 60rem;
    height: 7.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .hero-image .contact-us a {
    font-size: 2rem;
  }
  main .gallery {
    width: 100%;
    max-width: 270rem;
  }
  main .gallery .card {
    max-width: 75rem;
    margin-right: 2rem;
  }
  main .gallery .card img {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */